

<div class="container text-center">
    {% if docstatus == 1 %}
    <div class="col-5 p-5 card mb-3 ml-12" style="float: left;">
        <div class="card-body p-6">
            <h5 class="card-title">{{ job_title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ job_location }} • {{ contract_type }} • {{ experience_level }}</h6>
            <p>{{ days_since_creation }} days ago</p>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-lg btn-info" href="/{{ doc.route }}">Apply</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-lg btn-danger" href="/applied-jobs/{{ name }}">Applicants</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endif %}
<!-- this is a sample default list template -->
